section {
  width: 100%;
  height: 100%;
  min-height: 786px;
  background-color: transparent;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  padding-top: 9rem;
  padding-bottom: 9rem;
}

* {
  font-family: sans-serif;
}

h1,h2,h3,h4{
  margin:0;
}

h3{
  font-size: 1.7rem;
  line-height: 1.333;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: #39b54a;
  margin-top: 0;
  margin-bottom: 0;
}

h1{
  font-size: 3.5rem;
  line-height: 1.255;
  letter-spacing: -.1rem;
  color: #000000;
}
