$black: #303030;
$black-light: rgba($black, .85);
$white: #ffffff;
$white-secondary: rgba($white, .5);
$white-dark: darken($white, 20);

:root{
    --black: #{$black};
    --black-light: #{$black-light};
    --white: #{$white};
    --white-dark: #{$white-dark};
    --white-secondary: #{$white-secondary};
    --green: #39b54a;
}
