.section {
    background: white;

    &__header{
        text-align: center;
        position: relative;
        margin-bottom: 3.6rem;
        max-width: 960px;
    }

    &__content{
        background: var(--black-light);
        color: white;
        box-sizing: border-box;
        border-radius: .5rem;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left, .contacts{
            flex-grow: 1;
            padding: 2.5rem 2rem 3.5rem;
        }

        .contacts{
            max-width: 30%;
            background: var(--black-light);
            &__list{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                &_item{
                    width: 50%;
                }
                p{
                    line-height: 2;
                }
            }
        }

        &_header{
            position: relative;
            margin-bottom: 1rem;
            color: white;
            text-transform: uppercase;
            letter-spacing: 0.3rem;
        }

        &__form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            &_submit{
                background: #39b54a;
                border-color: #39b54a;
                color: #FFFFFF;
            }
            .form_field{
                color: var(--white-light);
            }
        }
    }
}
