.section {
    background: white;

    &__header{
        text-align: center;
        position: relative;
        margin-bottom: 3.6rem;
        max-width: 960px;
    }

    &__form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;
        &_submit{
            background: #39b54a;
            border-color: #39b54a;
            color: #FFFFFF;
        }
        label{
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            input{
                box-sizing: border-box;
                display: block;
                height: 6rem;
                padding: 1.5rem 0;
                border: 0;
                outline: none;
                color: #333333;
                font-family: "montserrat-light", sans-serif;
                font-size: 1.4rem;
                line-height: 3rem;
                max-width: 100%;
                background: transparent;
                border-bottom: 2px solid rgba(0, 0, 0, 0.15);
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}
