@import "../app/mixins.scss";

.section {
    background: #e6e6e6;

    &__header{
        text-align: center;
        position: relative;
        margin-bottom: 3.6rem;
        max-width: 960px;
    }

    &__container {
        width: 100%;
        position: relative;

        &_list {
            display: flex;
            flex-direction: row;
            overflow: hidden;
            .review {
                width: 100%;
                margin: 0;
                flex-shrink: 0;

                @include respond('pc') {
                    margin-left: 10%;
                    margin-right: 10%;
                    width: 80%;
                }

                .text {
                    text-align: center;
                    font-size: 1.5rem;
                    line-height: 1.8;
                    color: #555555;
                    margin-bottom: 1rem;

                    @include respond('pc') {
                        font-size: 2.5rem;
                        line-height: 1.8;
                        margin-bottom: 3rem;
                    }
                }

                .col {
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .avatar {
                        height: 8.4rem;
                        width: 8.4rem;
                        border-radius: 50%;
                        margin: 0 auto 1.2rem auto;
                    }

                    .name {
                        font-size: 1.5rem;
                        color: #000000;
                    }

                    .company {
                        font-size: 1rem;
                        color: #333333;
                    }
                }
            }
        }

        .arrowL, .arrowR{
            display: block;
            position: absolute;
            top: 7.2rem;
            width: 66px;
            height: 66px;
            border: none;
            cursor: pointer;
            background: transparent;
            z-index: 2;
            font-size: 2rem;
        }

        .arrowL{
            width: 0;
            padding: 0;
            top: 0;
            left: calc(100vw / 2 - 33px);
            transform: translateY(-1rem);
        }
        .arrowR{
            top: 0;
            right: calc(100vw / 2 - 33px);
            transform: translateY(-1rem);
        }

        //@include respond('pc'){
        //    .arrowL{
        //        top: 7rem;
        //        left: 0;
        //    }
        //    .arrowR{
        //        top: 7rem;
        //        right: 0;
        //    }
        //}

    }

}
